/* Content */
#background-image {
    height: 100%;
    min-width: 960px;
    background: url(../../images/backgrounds/cityscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}

#box-full {
    width: 920px; height: 920px;
    padding: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.0);
    text-align: left;
    font-size: 16px;
}

.img-box {
    height: 200px; width: 200px;
    margin: 10px 0px 20px 20px;
    border: 6px solid #333;
    border-radius: 4px;
    box-shadow: 0px 10px 10px #000;
    overflow: hidden;
    float: right;
}

#stephen {
    height: auto; width: 100%;
}