/* Content */
#background-image {
    height: 100%;
    min-width: 960px;
    background: url(../../images/backgrounds/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}

#box-left {
    width: 560px; height: 960px;
    padding: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.2);
    text-align: left;
    font-size: 16px;
}

#box-left ul {
    margin: 0; padding: 0;
    list-style: none;
}

#box-right {
    width: 320px; height: 960px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    overflow: scroll;
}

#box-right img {
    width: 220px;
    margin: 10px 50px;
}