<!doctype html>
<html>
  <head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/css/about.css">
  </head>
  <body>
    {{ partial "header.html" . }}
    <section class="sc-container sc-headline">
      <h1 class="sc-title">Hi, I&rsquo;m Stephen!</h1>
      <p class="sc-subtitle">I&rsquo;m a Software Engineer turned <strong>Product Designer</strong> studying at <strong>USC</strong>.</p>
      <h2 class="sc-section-name">About</h2>
    </section>

    <section class="pure-g sc-container">
      <div class="pure-u-1-3 profpic-container">
        <div class="profpic"></div>
      </div>
      <div class="pure-u-2-3 content">
        {{ .Content }}
      </div>
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
