<!doctype html>
<html>
  <head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/css/about.css">
  </head>
  <body>
    {{ partial "header.html" . }}
    <section class="sc-container sc-headline">
      <h1 class="sc-title">Hi, I&rsquo;m Stephen.</h1>
      <p class="sc-subtitle">I&rsquo;m a <strong>Software Engineer</strong> turned <strong>Product Designer</strong> studying at <strong>USC</strong>.</p>
      <h2 class="sc-section-name">About</h2>
    </section>

    <section class="pure-g sc-container">

    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
