@import (once) "reset.less";

/* style.less */
/* Author: Stephen Chen 2014 */
/* ========================================================================= */

/* Variables */
@theme-yellow: #FDD040;
@header-height: 110px;

/* General */
body {
  font-family: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #FFF; color: #222;
}
.container {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.container-full {
  width: 100%;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}


/* Header */
.header {
  .container-full;

  height: @header-height;
  line-height: @header-height;
  text-align: center;
  background: #333;
}
.letterhead {
  width: 320px;
  display: inline-block;
  vertical-align: middle;
}
.menuicon {
  width: 1.1*@header-height; height: @header-height;
  position: absolute;
  top: 0; right: 0;
  font-size: 28px;
  color: #FFF;
}
/* ul.navlist {
  position: absolute;
  right: 0;
  display: inline-block;

  li {
    margin-left: 30px;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: lowercase;

    &:hover {
      color: @theme-yellow;
    }
  }
} */
