<footer class="sc-container sc-footer">
    <div class="sc-copy">&copy; {{ .Site.Params.currentyear }} Stephen Chen.</div>
    <div class="sc-sm">
      <ul>
        <li><a href="{{ .Site.Params.githuburl }}" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="{{ .Site.Params.mediumurl }}" target="_blank"><i class="fa fa-medium"></i></a></li>
        <li><a href="{{ .Site.Params.twitterurl }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="{{ .Site.Params.soundcloudurl }}" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
        <li><a href="{{ .Site.Params.linkedinurl }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
</footer>
