<footer class="sc-container sc-footer">
  <div class="sc-copy">&copy; {{ .Site.Params.currentyear }} Stephen Chen.</div>
  <div class="sc-sm">
    <ul>
      <li><a href="{{ .Site.Params.githuburl }}" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="{{ .Site.Params.linkedinurl }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <!-- <li><a href="{{ .Site.Params.mediumurl }}" target="_blank"><i class="fa fa-medium"></i></a></li> -->
      <li><a href="{{ .Site.Params.soundcloudurl }}" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
      <li><a href="{{ .Site.Params.instagramurl }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href="{{ .Site.Params.twitterurl }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44930782-4', 'auto');
  ga('send', 'pageview');
</script>
