<div class="sc-background"></div>

<div class="sc-header">
  <nav class="sc-container sc-nav">
    <ul>
      {{ if eq .URL "/" }}
      <li class="selected">
      {{ else }}
      <li>
      {{ end }}
        <a href="{{ .Site.BaseURL }}">Work</a>
      </li>
      <li>
        <a href="{{ .Site.Params.resumeurl }}" target="_blank">Resume</a>
      </li>
      {{ if in .Permalink "/about" }}
      <li class="selected">
      {{ else }}
      <li>
      {{ end }}
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</div>
