/* COLORS */

@bittersweet:     #FF6666;
@sweet-pink:      #FFA4A4;
@chablis:         #FFF4F4;

@concrete:        #F2F2F2;

@accent:          @bittersweet;
@accent-alt:      @sweet-pink;
@accent-light:    @chablis;

/* LAYOUT */

@page-max-width:  1140px;
@page-padding-lr: 20px;

/* TYPOGRAPHY */

@font-stack:      sans-serif;
@font-size:       16px;
@font-scale:      1.25;