/* COLORS */

@bittersweet:      #FF6666;
@sweet-pink:       #FFA4A4;
@chablis:          #FFF4F4;

@emperor:          #4F4F4F;
@gray:             #828282;
@concrete:         #F2F2F2;
@alabaster:        #FBFBFB;

@accent:           @bittersweet;
@accent-alt:       @sweet-pink;
@accent-light:     @chablis;

@text:             @emperor;
@text-alt:         @gray;

/* LAYOUT */

@page-max-width:   1140px;
@page-padding-lr:  20px;

/* TYPOGRAPHY */

@font-stack:       'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-size:        16px;
@font-scale:       1.25;