/* reset.less */
/* Author: Stephen Chen 2014 */
/* ========================================================================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* style.less */
/* Author: Stephen Chen 2014 */
/* ========================================================================= */
/* Variables */
/* General */
body {
  font-family: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #F1F1F1;
  color: #444;
}
.container {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.container-full {
  width: 100%;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.borderbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Header */
.header {
  width: 100%;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 110px;
  line-height: 110px;
  text-align: left;
}
.header section {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.logo {
  width: 120px;
  display: inline-block;
  vertical-align: bottom;
}
ul.navlist {
  position: absolute;
  top: 0;
  right: 0;
}
ul.navlist li {
  margin-left: 40px;
  display: inline-block;
  line-height: 18px;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: bottom;
}
ul.navlist li a {
  text-decoration: none;
  color: #444;
}
.menuicon {
  width: 121px;
  height: 110px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  text-align: center;
  color: #FFF;
}
/* Content */
.about {
  margin-top: 55px;
}
.macbook {
  width: 100%;
  font-size: .92px;
  /* use font-size to scale graphic */
  position: relative;
}
.macbook .lid {
  width: 800em;
  height: 480em;
  margin: 0 auto;
  position: relative;
  border-radius: 30em 30em 0 0;
  background: #CCC;
}
.macbook .lid .bezel {
  width: 782em;
  height: 472em;
  position: absolute;
  right: 9em;
  bottom: 0;
  left: 9em;
  border-radius: 30em 30em 0 0;
  background: #000;
}
.macbook .lid .bezel .screen {
  width: 720em;
  height: 405em;
  position: absolute;
  top: 35em;
  right: 31em;
  background: #333;
}
.macbook .lid .bezel .screen .screen-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  line-height: 35px;
  color: #EEE;
}
.macbook .lid .bezel .screen .screen-content .prop {
  width: 110px;
  display: inline-block;
  font-weight: bold;
  color: #FFF;
}
.macbook .lid .bezel .screen .screen-content a {
  text-decoration: none;
  color: #3A92C8;
}
.macbook .base {
  width: 1000em;
  height: 28em;
  margin: 0 auto;
  position: relative;
  border-radius: 0 0 12em 12em;
  background: #CCC;
}
.macbook .base .groove {
  width: 170em;
  height: 12em;
  margin: 0 auto;
  position: relative;
  border-radius: 0 0 12em 12em;
  background: #b3b3b3;
}
.title {
  width: 100%;
  margin-top: 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 3px;
}
.resume {
  margin-top: 55px;
}
