.sc-banner {
	padding-bottom: 30px;
	background: #758395;
	color: #fff !important;
	/*text-shadow: 2px 2px rgba(0,0,0,0.05);*/
}
.sc-subtitle {
	font-family: 'Merriweather', serif;
	font-size: 0.95em; /* match size relative to Apercu 1em */
	font-weight: 300;
}
.sc-project-content {
	padding-top: 40px;
	font-size: 0.95em; /* match size relative to Apercu 1em */
	font-family: 'Merriweather', serif;
	font-weight: 300;
	line-height: 1.777em;
	color: #696969;
}
