/* Compass */
@font-face {
font-family: 'Compass';
src: url('../fonts/compass/Compass.eot');
src: url('../fonts/compass/Compass.eot?iefix') format('eot'),
         url('../fonts/compass/Compass.woff') format('woff'),
         url('../fonts/compass/Compass.ttf') format('truetype'),
         url('../fonts/compass/Compass.svg#webfontZam02nTh') format('svg');
font-weight: normal;
font-style: normal; }

@font-face {
font-family: 'Compass Light';
src: url('../fonts/compass/CompassLight.eot');
src: url('../fonts/compass/CompassLight.eot?iefix') format('eot'),
         url('../fonts/compass/CompassLight.woff') format('woff'),
         url('../fonts/compass/CompassLight.ttf') format('truetype'),
         url('../fonts/compass/CompassLight.svg#webfontZam02nTh') format('svg');
font-weight: normal;
font-style: normal; }

/* Lato */
@font-face {
font-family: 'Lato';
src: url('../fonts/lato/Lato-Reg.eot');
src: url('../fonts/lato/Lato-Reg.eot?iefix') format('eot'),
         url('../fonts/lato/Lato-Reg.woff') format('woff'),
         url('../fonts/lato/Lato-Reg.ttf') format('truetype'),
         url('../fonts/lato/Lato-Reg.svg#webfontZam02nTh') format('svg');
font-weight: normal;
font-style: normal; }

@font-face {
font-family: 'Lato Light';
src: url('../fonts/lato/Lato-Lig.eot');
src: url('../fonts/lato/Lato-Lig.eot?iefix') format('eot'),
         url('../fonts/lato/Lato-Lig.woff') format('woff'),
         url('../fonts/lato/Lato-Lig.ttf') format('truetype'),
         url('../fonts/lato/Lato-Lig.svg#webfontZam02nTh') format('svg');
font-weight: normal;
font-style: normal; }

/* Open Sans */
@font-face {
font-family: 'Open Sans';
src: url('../fonts/opensans/OpenSans-Regular.ttf');
src: url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal; }

@font-face {
font-family: 'Open Sans Light';
src: url('../fonts/opensans/OpenSans-Light.ttf');
src: url('../fonts/opensans/OpenSans-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal; }