<!doctype html>
<html>
  <head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    {{ partial "header.html" . }}

    <section class="sc-container sc-headline">
      <h1 class="sc-title">Hi, I&rsquo;m Stephen!</h1>
      <p class="sc-subtitle">I&rsquo;m a <strong>Software Engineer</strong> turned <strong>Product Designer</strong> studying at <strong>USC</strong>.</p>
      <h2 class="sc-section-name">Work &amp; Projects</h2>
    </section>

    <section class="pure-g sc-container work">
      {{ range .Data.Pages }}
      {{ if eq .Type "project" }}
      <div class="pure-u-1-3 sc-card-container">
        <a href="{{ .Permalink }}" class="sc-card">
          <div style="background-image: url('{{ .Params.thumbnail }}');" class="sc-img"></div>
          <div class="sc-content">
            <h3 class="sc-title">{{ .Title }}</h3>
            <p class="sc-subtitle">{{ .Description }}</p>
          </div>
        </a>
      </div>
      {{ end }}
      {{ end }}
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
